body{
    background-color: rgba(250, 235, 215, 0.644) !important;
}

/* nav{
    border-radius: 15px;
    border: 1px solid ;

} */

.card{
    border-radius: 15px !important;
    cursor: pointer;
    transition: all 0.5s ease !important;

}

.card:hover{
    transform: translateY(-10px);
}

.card-circle{
    border-radius: 25px;
    padding-left: 6px;
    padding-right: 6px;
    border: 1px solid;
}

.card-category{
    display: block;
    margin-top: 15px;
    letter-spacing: 1px;
    font-size: 12px;
    text-transform: uppercase;
    color: red;
}


.image-container{
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 15px;
}

.images{
    width: 350px !important;
    height: 290px !important;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.6s ease-in-out;
}

.card:hover .images{
    transform: scale(1.05);
    border-radius: 15px;
}

.read{
    background-color:cornflowerblue;
    color: white;
    border-radius: 15px;
    text-align: center;
    width: 100px;
    margin-top: 10px;
    cursor: pointer;
}

.order{
    background-color: crimson;
    color: white;
    border-radius: 15px;
    text-align: center;
    width: 300px;
    padding: 6px;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.activebtn{
    border-bottom: 5px solid crimson !important;
}